<footer style="background-color: black; color: white; font-size: 1.3vw;">
  <div style="display: flex; width: 100%;">
    <div style="width: 33%; padding-left: 2%; padding-top: 0%;" class="sectionFooterContainer">
      <img src="../../assets/logoMacomptaFooter.png" alt="logo footer" style="width:70%; display: block; margin-bottom: 5%;">
      <img src="../../assets/locationIcon.png" alt="location icon" style="width:7.5%; display: inline;"><p style="display: inline; margin-left: 2%; color: white; font-size: 1vw;"> <a href="https://www.google.com/maps/search/Ariana+center+Bureau+A318+Ariana+2080/@36.8578794,10.1871067,17z/data=!3m1!4b1?entry=ttu" style="display: inline;" target="_blank">Ariana center Bureau A318 Ariana 2080 </a></p>
    </div>
    <div style="width: 26%;" class="sectionFooterContainer">
      <p>Contactez nous :</p>
      <img src="../../assets/phoneIcon.png" alt="phone icon" style="width:6%; margin-left: 5%;"><p style="display: inline; margin-left: 2%; font-size: 1vw;"  class="contactInfo">+216 98 350 575</p>
      <br/>
      <img src="../../assets/mailIcon.png" alt="mail icon" style="width: 6%; margin-left: 5%;"><p style="display: inline; margin-left: 2%; font-size: 1vw;" class="contactInfo">macompta@macompta.com.tn</p>
    </div>
    <div style="width: 19%;" class="sectionFooterContainer">
      <p>Liens utiles :</p>
      <p class="liensUtiles"><span style="color:red">></span> Accueil</p>
      <p class="liensUtiles"><span style="color:red">></span> Carrière</p>
      <p class="liensUtiles"><span style="color:red">></span> Contact</p>
    </div>
    <div class="sectionFooterContainer" style="width: 22%">
      <p>Suivez nous :</p>
      <img src="../../assets/linkedInIcon.png" alt="linkedin icon" class="socialMediaIcon linkedInIcon" style="margin-left: 5%;"            
          onmouseover="this.src='../../assets/HoverlinkedInIcon.png';" 
          onmouseout="this.src='../../assets/linkedInIcon.png'">

      <img src="../../assets/Xicon.png" alt="X icon" class="socialMediaIcon XIcon"
          onmouseover="this.src='../../assets/HoverXicon.png';"
          onmouseout="this.src='../../assets/Xicon.png'">

      <img src="../../assets/FacebookIcon.png" alt="Facebook icon" class="socialMediaIcon facebookIcon"
          onmouseover="this.src='../../assets/HoverFacebookIcon.png';"
          onmouseout="this.src='../../assets/FacebookIcon.png'">

      <img src="../../assets/instagramIcon.png" alt="instagram icon" class="socialMediaIcon instagramIcon"
          onmouseover="this.src='../../assets/HoverInstagramIcon.png'"
          onmouseout="this.src='../../assets/instagramIcon.png'"
      >
    </div>
  </div>
  <hr style="width: 100%; margin: 0; padding: 0;">
  <div style="display: flex; justify-content: space-between; align-items: center; font-size: 0.9vw;">
    <div style="margin-left: 0.5%;">
      <img src="../../assets/droit-reservés-Icon.png" alt="c" style="width: 7%; margin-top: 0;">
      <p style="display: inline; margin-left: 2.5%;"><span style="color: red; text-decoration: underline;">MaCompta</span> Tous droits réservés.</p>
    </div>
    <div>
      <p style="display: inline;">Version numéro <span style="color: red;">1.0.2</span> &nbsp;&nbsp;&nbsp;</p>
    </div>
  </div>
</footer>