

.logoHeader {
  height: 13%;
  width: 13%;
}


.boutonSInscrire {
  margin-left: 1.5%;
  width: 10vw;
  height: 2.3vw;
  border-radius: 3vw;
  font-weight: bold;
  font-size: 1vw;
  color: white;
  background-color: #D11317;
  border: none;
}

.boutonSeConnecter {
  margin-left: 1.5%;
  width: 10vw;
  height: 2.3vw;
  border-radius: 3vw;
  font-weight: bold;
  border: none;
  font-size: 1vw;
  background-color: #061B3C;
  color: white;
}

.menu-container {
  position: relative; 
  top: 75%;
  left: 19%; 
  background-color: white;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  padding: 0.7vw 0;
  z-index: 1000;
}


.navbar ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 0.7vw;
}

.navbar ul li.active a {
  font-weight: bold;
  color: blue;
  background-color: rgb(222, 222, 222);
  border-radius: 3vw;
}

.navbar ul li:hover {
  color: #061B3C;
  font-weight: bold;
  cursor: pointer;
}

.navbar ul li a {
  display: block;
  padding: 0.7vw;
  text-decoration: none;
  color: inherit;
}



.navDiv {
  display: flex;
  width: 100%;
  text-align: center;
  padding-left: 15%;
  padding-right: 15%;
  position: fixed;
  background-color: white;
  padding-bottom: 0.5%;
  height: fit-content;
}

.boutonNav {
  width: 100%;
  font-size: 0.85vw;
  height: 100%;
  font-weight: bold;
  border-radius: 1vw;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.nav-middle {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: fit-content;
}

.nav-item {
  cursor: pointer;
 font-size: 1.3vw;
}

.nav-right {
  display: flex;
  gap: 10px;
  margin-right: 15%;
}

.sectionChoice:hover{
  background-color: gray;
  font-weight: bold;
}


.standing-up {
  display: inline-block;
  transform: rotate(-90deg);
}