.back-icon {
    position: absolute;
    /* Ensure the back icon is placed relative to the parent container */
    top: 10px;
    /* Adjust this value to your preferred vertical position */
    left: 10px;
    /* Adjust this value to your preferred horizontal position */
    cursor: pointer;
    font-size: 1.2rem;
    margin-left: 20px;
    /* Adjust the left margin as needed */
}

.back-icon a {
    text-decoration: none;
    color: inherit;
}

.back-icon .material-icons {
    vertical-align: middle;
    margin-right: 5px;
}

.add-button {
    cursor: pointer;
    font-size: 30px;
    color: green;
}