





<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Page Title</title>
    <!-- Google Fonts Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .icon {
            font-size: 48px;
            /* Adjust the size as needed */
            margin: 10px;
        }
    </style>
</head>
<img loading="lazy" srcset="../../assets/taswira1.jpg" class="img" />
<div class="div">
    <div class="div-2">
        <div class="column">
            <div class="div-3">
                <span style="font-size: 72px; color: rgba(254, 197, 54, 1)">
                    WHO
                </span>
                <span style="font-size: 58px; color: rgba(0, 0, 0, 1)">WE ARE</span>
            </div>
        </div>
        <div class="column-2">
            <div class="div-4">
                Notre cabinet a été créé en 1997 par Fayçal BEN AYED, commissaire
                aux comptes inscrit au tableau de la compagnie et titulaire du
                Master C.C.A de l’I.A.E de Lyon 3, et ce, après avoir travaillé dans
                un cabinet d’expertise comptable de renommée nationale et dans un
                groupe de sociétés. Afin de répondre au mieux à vos attentes et de
                gérer au plus près vos intérêts, notre cabinet est garnie de
                compétences dynamiques et réactives pour vous accompagner dans
                toutes les étapes de la vie de votre entreprise, quelle que soit sa
                forme. Notre principal objectif est d’apporter un haut niveau de
                qualité à la réalisation de nos missions assuré aussi bien par une
                formation régulière de notre équipe que par une adaptation
                permanente de notre organisation et de nos méthodes et approches de
                travail. En 2015, nous avons créé notre bureau virtuel Macompta afin
                d’être à proximité de tous nos clients. Notre cabinet adhère
                totalement à l’emblème de l’ordre des experts comptables de Tunisie
                : Science, Conscience et Indépendance.
            </div>
        </div>
    </div>
    <div class="divN">Notre Équipe</div>
    <div class="divE">
        <div class="div-2E">
            <div class="columnE">
                <img loading="lazy" src="../../assets/taswira2.jpg" alt="Team Member" class="img2" />
                <div class="div-3E">
                    <div class="div-4E">Fayçal Ben Ayed</div>
                    <div class="div-5E">Propriétaire</div>
                    <div class="div-6E">
                        Commissaire aux comptes inscrit au tableau de la compagnie et titulaire du
                        Master C.C.A de l’I.A.E de Lyon 3, et ce, après avoir travaillé dans un
                        cabinet d’expertise comptable de renommée nationale et dans un groupe de
                        sociétés
                    </div>
                </div>
            </div>
            <div class="columnE">
                <img loading="lazy" src="../../assets/taswira2.jpg" alt="Team Member" class="img2" />
                <div class="div-3E">
                    <div class="div-4E">Collaborateur 1</div>
                    <div class="div-5E">collaborateur</div>
                    <div class="div-6E">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis mollitia dolor aspernatur deserunt exercitationem ad distinctio voluptatum facere? A at veniam, iure tempore officia delectus aliquam corrupti dolor nobis voluptatum!
                    </div>
                </div>
            </div>
            <div class="columnE">
                <img loading="lazy" src="../../assets/taswira2.jpg" alt="Team Member" class="img2" />
                <div class="div-3E">
                    <div class="div-4E">Collaborateur 2</div>
                    <div class="div-5E">collaborateur</div>
                    <div class="div-6E">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis mollitia dolor aspernatur deserunt
                        exercitationem ad distinctio voluptatum facere? A at veniam, iure tempore officia delectus aliquam corrupti
                        dolor nobis voluptatum!
                    </div>
                </div>
            </div>
            
            <!-- Add more columns for other team members -->
        </div>
    </div>
    <div class="divN">Nos Services</div>
    <div class="con">
        <div class="div">
            <div class="div-2">
                <div class="column">
                    <div class="div-3">
                        <div class="div-4">
                            <span class="material-icons icon">account_balance</span>
                            <div class="div-5">Comptabilité en ligne</div>
                        </div>
                        <div class="div-6">
                            Simple et automatisée mais avec un collaborateur dédié pour suivre
                            votre activité depuis notre logiciel en ligne
                        </div>
                    </div>
                    <div class="div-7"></div>
                </div>
                <div class="column-2">
                    <div class="div-8">
                        <div class="div-9">
                            <span class="material-icons icon">gavel</span>
                            <div class="div-10">Expert juridique</div>
                        </div>
                        <div class="div-11">
                            Notre équipe juridique accompagne les entrepreneurs durant toute
                            la vie de l’entreprise : création, modification, cessation…
                        </div>
                    </div>
                </div>
                <div class="column-3">
                    <div class="div-12">
                        <div class="div-13">
                            <span class="material-icons icon">assignment</span>
                            <div class="div-14">Mission lègales et fiscales</div>
                        </div>
                        <div class="div-15">
                            Vous assister dans toutes les fonctions comptables, fiscales et
                            légales dont votre entreprise a besoin pour garantir sa réussite.
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
    <div class="divN">Contact Us</div>
   <div class="container">
    <div class="contact">
        <form class="row g-3">
            <div class="col-md-6">
                <label for="inputEmail4" class="form-label">First Name</label>
                <input type="text" class="form-control" placeholder="your First Name" id="inputEmail4">
            </div>
            <div class="col-md-6">
                <label for="inputPassword4"  class="form-label">Last Name</label>
                <input type="text" class="form-control" placeholder="your last Name" id="inputPassword4">
            </div>
            <div class="col-12">
                <label for="inputAddress" class="form-label">Address</label>
                <input type="text" class="form-control" placeholder="your Address" id="inputAddress" >
            </div>
            <div class="form-floating">
                <textarea class="form-control" placeholder="Votre message" id="floatingTextarea2"
                    style="height: 100px"></textarea>
                <label for="floatingTextarea2"></label>
            </div>
            <div class="col-md-6">
                <label for="inputCity" class="form-label">City</label>
                <input type="text" class="form-control" id="inputCity">
            </div>
            
            
            
            <div class="col-12">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                        Check me out
                    </label>
                </div>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </div>
        </form>
    
    
    </div>
   </div>

</div>

