
<div class="c">      <h1> liste des fichiers comptables  </h1> <div class="scallable-table">
 
<table class="table">
<thead>
<tr>
<th>Code</th>
<th>Nature</th>
<th>Mois</th>
<th>année</th>
<th>Prénom</th>
<th>Nom</th>
<th>Origine</th>
<th>Source</th>
<th>Status</th>
<th style="width: 200px;" >Date de création</th>
<th>  </th>
</tr>


</thead>
<tbody>
<tr> <td> 6668394790eaa99b41e89ecd </td>
<td>Déclaration Mensuelle</td>
<td>01</td>
<td>2022</td>
<td>nour5</td>
<td>hasnaoui</td>
<td>généré automatiquement</td>
<td>source</td>
<td>status</td>
<td>11-06-2024--01-47 PM</td>
<td> <button class ="btn2">modifier</button></td> </tr>
<tr> <td> 6668394790eaa99b41e89ecd </td>
    <td>Déclaration Mensuelle</td>
    <td>01</td>
    <td>2022</td>
    <td>nour5</td>
    <td>hasnaoui</td>
    <td>généré automatiquement</td>
    <td></td>
    <td></td>
    <td>11-06-2024--01-47 PM</td>
    <td> <button class =" btn2">modifier</button></td> 
    </tr>
    <tr> <td> 6668394790eaa99b41e89ecd </td>
        <td>Déclaration Mensuelle</td>
        <td>01</td>
        <td>2022</td>
        <td>nour5</td>
        <td>hasnaoui</td>
        <td>généré automatiquement</td>
        <td></td>
        <td></td>
        <td>11-06-2024--01-47 PM</td>
        <td> <button class =" btn2">modifier</button></td> 
        </tr>
        <tr> <td> 6668394790eaa99b41e89ecd </td>
            <td>Déclaration Mensuelle</td>
            <td>01</td>
            <td>2022</td>
            <td>nour5</td>
            <td>hasnaoui</td>
            <td>généré automatiquement</td>
            <td></td>
            <td></td>
            <td>11-06-2024--01-47 PM</td>
            <td></td>
            </tr>
            <tr> <td> 6668394790eaa99b41e89ecd </td>
                <td>Déclaration Mensuelle</td>
                <td>01</td>
                <td>2022</td>
                <td>nour5</td>
                <td>hasnaoui</td>
                <td>généré automatiquement</td>
                <td></td>
                <td></td>
                <td>11-06-2024--01-47 PM</td>
                <td> <button class =" btn2">modifier</button></td> 
                </tr>
                <tr> <td> 6668394790eaa99b41e89ecd </td>
                    <td>Déclaration Mensuelle</td>
                    <td>01</td>
                    <td>2022</td>
                    <td>nour5</td>
                    <td>hasnaoui</td>
                    <td>généré automatiquement</td>
                    <td></td>
                    <td></td>
                    <td>11-06-2024--01-47 PM</td>
                    <td> <button class =" btn2">modifier</button></td> 
                    </tr>
                    <tr> <td> 6668394790eaa99b41e89ecd </td>
                        <td>Déclaration Mensuelle</td>
                        <td>01</td>
                        <td>2022</td>
                        <td>nour5</td>
                        <td>hasnaoui</td>
                        <td>généré automatiquement</td>
                        <td></td>
                        <td></td>
                        <td>11-06-2024--01-47 PM</td>
                        <td> <button class =" btn2">modifier</button></td> 
                        </tr>
                        <tr> <td> 6668394790eaa99b41e89ecd </td>
                            <td>Déclaration Mensuelle</td>
                            <td>01</td>
                            <td>2022</td>
                            <td>nour5</td>
                            <td>hasnaoui</td>
                            <td>généré automatiquement</td>
                            <td></td>
                            <td></td>
                            <td>11-06-2024--01-47 PM</td>
                            <td> <button class =" btn2">modifier</button></td> 
                            </tr>
                            <tr> <td> 6668394790eaa99b41e89ecd </td>
<td>Déclaration Mensuelle</td>
<td>01</td>
<td>2022</td>
<td>nour5</td>
<td>hasnaoui</td>
<td>généré automatiquement</td>
<td></td>
<td></td>
<td>11-06-2024--01-47 PM</td>
<td> <button class =" btn2">modifier</button></td> </tr>
<tr> <td> 6668394790eaa99b41e89ecd </td>
    <td>Déclaration Mensuelle</td>
    <td>01</td>
    <td>2022</td>
    <td>nour5</td>
    <td>hasnaoui</td>
    <td>généré automatiquement</td>
    <td></td>
    <td></td>
    <td>11-06-2024--01-47 PM</td>
    <td> <button class =" btn2">modifier</button></td> 
    </tr>
    <tr> <td> 6668394790eaa99b41e89ecd </td>
        <td>Déclaration Mensuelle</td>
        <td>01</td>
        <td>2022</td>
        <td>nour5</td>
        <td>hasnaoui</td>
        <td>généré automatiquement</td>
        <td></td>
        <td></td>
        <td>11-06-2024--01-47 PM</td>
        <td> <button class =" btn2">modifier</button></td> 
        </tr>
        <tr> <td> 6668394790eaa99b41e89ecd </td>
            <td>Déclaration Mensuelle</td>
            <td>01</td>
            <td>2022</td>
            <td>nour5</td>
            <td>hasnaoui</td>
            <td>généré automatiquement</td>
            <td></td>
            <td></td>
            <td>11-06-2024--01-47 PM</td>
            <td> <button class =" btn2">modifier</button></td> 
            </tr>
            <tr> <td> 6668394790eaa99b41e89ecd </td>
                <td>Déclaration Mensuelle</td>
                <td>01</td>
                <td>2022</td>
                <td>nour5</td>
                <td>hasnaoui</td>
                <td>généré automatiquement</td>
                <td></td>
                <td></td>
                <td>11-06-2024--01-47 PM</td>
                <td> <button class =" btn2">modifier</button></td> 
                </tr>
                <tr> <td> 6668394790eaa99b41e89ecd </td>
                    <td>Déclaration Mensuelle</td>
                    <td>01</td>
                    <td>2022</td>
                    <td>nour5</td>
                    <td>hasnaoui</td>
                    <td>généré automatiquement</td>
                    <td></td>
                    <td></td>
                    <td>11-06-2024--01-47 PM</td>
                    <td> <button class =" btn2">modifier</button></td> 
                    </tr>
                    <tr> <td> 6668394790eaa99b41e89ecd </td>
                        <td>Déclaration Mensuelle</td>
                        <td>01</td>
                        <td>2022</td>
                        <td>nour5</td>
                        <td>hasnaoui</td>
                        <td>généré automatiquement</td>
                        <td></td>
                        <td></td>
                        <td>11-06-2024--01-47 PM</td>
                        <td> <button class =" btn2">modifier</button></td> 
                        </tr>
                        <tr> <td> 6668394790eaa99b41e89ecd </td>
                            <td>Déclaration Mensuelle</td>
                            <td>01</td>
                            <td>2022</td>
                            <td>nour5</td>
                            <td>hasnaoui</td>
                            <td>généré automatiquement</td>
                            <td></td>
                            <td></td>
                            <td>11-06-2024--01-47 PM</td>
                            <td> <button class =" btn2">modifier</button></td> 
                            </tr>
                            <tr> <td> 6668394790eaa99b41e89ecd </td>
                                <td>Déclaration Mensuelle</td>
                                <td>01</td>
                                <td>2022</td>
                                <td>nour5</td>
                                <td>hasnaoui</td>
                                <td>généré automatiquement</td>
                                <td></td>
                                <td></td>
                                <td>11-06-2024--01-47 PM</td>
                                <td> <button class =" btn2">modifier</button></td> 
                                </tr>
                                <tr> <td> 6668394790eaa99b41e89ecd </td>
                                    <td>Déclaration Mensuelle</td>
                                    <td>01</td>
                                    <td>2022</td>
                                    <td>nour5</td>
                                    <td>hasnaoui</td>
                                    <td>généré automatiquement</td>
                                    <td></td>
                                    <td></td>
                                    <td>11-06-2024--01-47 PM</td>
                                    <td> <button class =" btn2">modifier</button></td> 
                                    </tr>
                                    <tr> <td> 6668394790eaa99b41e89ecd </td>
                                        <td>Déclaration Mensuelle</td>
                                        <td>01</td>
                                        <td>2022</td>
                                        <td>nour5</td>
                                        <td>hasnaoui</td>
                                        <td>généré automatiquement</td>
                                        <td></td>
                                        <td></td>
                                        <td>11-06-2024--01-47 PM</td>
                                        <td> <button class =" btn2">modifier</button></td> 
                                        </tr>
                                        <tr> <td> 6668394790eaa99b41e89ecd </td>
                                            <td>Déclaration Mensuelle</td>
                                            <td>01</td>
                                            <td>2022</td>
                                            <td>nour5</td>
                                            <td>hasnaoui</td>
                                            <td>généré automatiquement</td>
                                            <td></td>
                                            <td></td>
                                            <td>11-06-2024--01-47 PM</td>
                                            <td> <button class =" btn2">modifier</button></td>                                             </tr>
                                            <tr> <td> 6668394790eaa99b41e89ecd </td>
                                                <td>Déclaration Mensuelle</td>
                                                <td>01</td>
                                                <td>2022</td>
                                                <td>nour5</td>
                                                <td>hasnaoui</td>
                                                <td>généré automatiquement</td>
                                                <td></td>
                                                <td></td>
                                                <td>11-06-2024--01-47 PM</td>
                                                <td> <button class =" btn2">modifier</button></td> 
                                                </tr>
                                                <tr> <td> 6668394790eaa99b41e89ecd </td>
                                                    <td>Déclaration Mensuelle</td>
                                                    <td>01</td>
                                                    <td>2022</td>
                                                    <td>nour5</td>
                                                    <td>hasnaoui</td>
                                                    <td>généré automatiquement</td>
                                                    <td></td>
                                                    <td></td>
                                                    <td>11-06-2024--01-47 PM</td>
                                                    <td> <button class =" btn2">modifier</button></td> 
                                                    </tr>
                                                    <tr> <td> 6668394790eaa99b41e89ecd </td>
                                                        <td>Déclaration Mensuelle</td>
                                                        <td>01</td>
                                                        <td>2022</td>
                                                        <td>nour5</td>
                                                        <td>hasnaoui</td>
                                                        <td>généré automatiquement</td>
                                                        <td></td>
                                                        <td></td>
                                                        <td>11-06-2024--01-47 PM</td>
                                                        <td> <button class =" btn2">modifier</button></td> 
                                                        </tr>
                                                        <tr> <td> 6668394790eaa99b41e89ecd </td>
                                                            <td>Déclaration Mensuelle</td>
                                                            <td>01</td>
                                                            <td>2022</td>
                                                            <td>nour5</td>
                                                            <td>hasnaoui</td>
                                                            <td>généré automatiquement</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>11-06-2024--01-47 PM</td>
                                                            <td> <button class =" btn2">modifier</button></td>  
                                                            </tr>
                                                            <tr> <td> 6668394790eaa99b41e89ecd </td>
                                                                <td>Déclaration Mensuelle</td>
                                                                <td>01</td>
                                                                <td>2022</td>
                                                                <td>nour5</td>
                                                                <td>hasnaoui</td>
                                                                <td>généré automatiquement</td>
                                                                <td></td>
                                                                <td></td>
                                                                <td>11-06-2024--01-47 PM</td>
                                                                <td> <button class =" btn2">modifier</button></td> 
                                                                </tr>
                                                                <tr> <td> 6668394790eaa99b41e89ecd </td>
                                                                    <td>Déclaration Mensuelle</td>
                                                                    <td>01</td>
                                                                    <td>2022</td>
                                                                    <td>nour5</td>
                                                                    <td>hasnaoui</td>
                                                                    <td>généré automatiquement</td>
                                                                    <td></td>
                                                                    <td></td>
                                                                    <td>11-06-2024--01-47 PM</td>
                                                                    <td> <button class =" btn2">modifier</button></td> 
                                                                    </tr>
                                                                    <tr> <td> 6668394790eaa99b41e89ecd </td>
                                                                        <td>Déclaration Mensuelle</td>
                                                                        <td>01</td>
                                                                        <td>2022</td>
                                                                        <td>nour5</td>
                                                                        <td>hasnaoui</td>
                                                                        <td>généré automatiquement</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td>11-06-2024--01-47 PM</td>
                                                                        <td> <button class =" btn2">modifier</button></td> 
                                                                        </tr>
                                                                        <tr> <td> 6668394790eaa99b41e89ecd </td>
                                                                            <td>Déclaration Mensuelle</td>
                                                                            <td>01</td>
                                                                            <td>2022</td>
                                                                            <td>nour5</td>
                                                                            <td>hasnaoui</td>
                                                                            <td>généré automatiquement</td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td>11-06-2024--01-47 PM</td>
                                                                            <td> <button class =" btn2">modifier</button></td> 
                                                                            </tr>
                                                                            <tr> <td> 6668394790eaa99b41e89ecd </td>
                                                                                <td>Déclaration Mensuelle</td>
                                                                                <td>01</td>
                                                                                <td>2022</td>
                                                                                <td>nour5</td>
                                                                                <td>hasnaoui</td>
                                                                                <td>généré automatiquement</td>
                                                                                <td></td>
                                                                                <td></td>
                                                                                <td>11-06-2024--01-47 PM</td>
                                                                                <td> <button class =" btn2">modifier</button></td> 
                                                                                </tr>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        









</tbody>







</table></div>
<button   (click)="goToFiscality()" class="btn"> retour </button></div>