<div class="collab-board">
    <h1>Tableau De Board Collaborateur</h1>
    <div class="line"></div>
    <div class="buttons">
      <button class="btn charger-dossier" (click)="toggleTable()">Charger Dossier</button>
      <button class="btn update-cours">Mise à jour de cours de change</button>
    </div>
    <div *ngIf="showTable" class="table-section">
      <h2>Liste des Ordres de services</h2>
      <table>
        <thead>
          <tr>
            <th>Prenom</th>
            <th>Nom</th>
            <th>Mois</th>
            <th>Annee</th>
            <th>Type</th>
            <th>Origine</th>
            <th>Statut Admin</th>
            <th>Statut Collaborateur</th>
            <th>Date de création</th>
            <th>date de modification</th>
            <th>Consultation</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let order of orderServiceList">
            <td>{{ order.firstName }}</td>
            <td>{{ order.lastName }}</td>
            <td>{{ order.month }}</td>
            <td>{{ order.year }}</td>
            <td>{{ order.type }}</td>
            <td>{{ order.origin }}</td>
            <td>{{ order.adminStatus }}</td>
            <td>{{ order.collaboratorStatus }}</td>
            <td>{{ order.creationDate }}</td>
            <td>{{ order.modificationDate }}</td>
            <td><button class="btn view-btn">Consulter</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
