.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 60px;
}

h2 {
  color: #000000;
  opacity: 60%;
}

p {
  color: #000000;
  opacity: 60%;
  text-align: left;
}

.steps-navigation {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.step-circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
  transition: background-color 0.3s ease;
}

.step-circle.active {
  background-color: red;
}

.step-circle.completed {
  background-color: red;
}

.step-container {
  text-align: center;
}

.form-group {
  margin: 50px 0;
  background-color: whitesmoke;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-group2 {
  margin: 50px 0;
  background-color: whitesmoke;
  height: 70px;
  width: 200px;
  align-content: center;
}

.salary-form {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;

  .form-group {
    margin-bottom: 10px;
  }
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

button:disabled {
  background-color: lightgray;
  cursor: not-allowed;
}

.btn-reset {
  background-color: burlywood;
}

.salary-management {
  margin: 20px 0;
}

.salary-form-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.salary-form-header label {
  margin-right: 10px;
}

.salary-table {
  width: 100%;
  border-collapse: collapse;
}

.salary-table th,
.salary-table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

.salary-table th {
  background-color: #f2f2f2;
}

.salary-table td input {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
}

.modify-btn {
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn {
  background-color: red;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;
}

.add-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.add-btn0 {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.add-btn0::before {
  content: '+';
  margin-right: 5px;
}

.add-btn::before {
  content: '+';
  margin-right: 5px;
}

.div {
  border: #ccc solid 1px;
  padding: 20px;
}

.div1 {
  border: #ccc solid 1px;
  padding: 20px;
  width: 1400px;
}

.btn-manual{
  background-color: cadetblue;
}
.btn-upload{
  background-color: brown;
}
.choix-banques{
  border: #ccc solid 1px;
  padding: 40px;
  width: 50%;
  margin-left: 210px;
}

.btn-reset {
  background-color: burlywood;
}


.btn-suivant{
  background-color: gray;
}

.btn-r{
  background-color: burlywood;
}