<div class="container">
  <h1 class="text-center mt-5 text-danger text-decoration-none fs-2">
    Formulaire D'inscription
  </h1>

  <div class="row mt-5">
    <div class="col">
      <form class="row g-3 ps-4 pt-5">
        <div class="row">
          <div class="col-6 example-section">
            <label class="form-label">Nature Utilisateur :</label>
            <mat-checkbox class="example-margin" id="pf"
              >Personne Physique</mat-checkbox
            >

            <mat-checkbox class="example-margin">Personne Morale</mat-checkbox>
          </div>
          <div class="col-md-3">
            <label for="validationDefault04" class="form-label"
              >Type d'Utilisateur</label
            >
            <select class="form-select" id="validationDefault04" required>
              <option>consultant</option>
              <option>collaborateur</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="validationDefault04" class="form-label">Civilité</label>
            <select class="form-select" id="validationDefault04" required>
              <option>Monsieur</option>
              <option>Madame</option>
            </select>
          </div>
        </div>
        <div class="col-md-4">
          <label for="validationDefault01" class="form-label">Nom</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault01"
            value="Mark"
            required
          />
        </div>
        <div class="col-md-4">
          <label for="validationDefault02" class="form-label">Prénom</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault02"
            value="Otto"
            required
          />
        </div>
        <div class="col-md-4">
          <label for="validationDefaultUsername" class="form-label"
            >N° mobile</label
          >
          <div class="input-group">
            <input
              type="Number"
              class="form-control"
              id="validationDefaultUsername"
              aria-describedby="inputGroupPrepend2"
              required
            />
          </div>
        </div>
        <div class="col-md-6">
          <label for="validationDefault03" class="form-label">Adresse</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault03"
            required
          />
        </div>
        <div class="col-md-6">
          <label for="validationDefault04" class="form-label">Email</label>
          <input
            type="text"
            class="form-control"
            id="validationDefault03"
            required
          />
        </div>
        <div class="col-md-3">
          <label for="inputPassword5" class="form-label">Mot de passe</label>
          <input
            type="password"
            id="inputPassword5"
            class="form-control"
            aria-describedby="passwordHelpBlock"
          />
          <div id="passwordHelpBlock" class="form-text">
            Votre mot de passe doit comporter entre 8 et 20 caractères, contenir
            des lettres et chiffres et ne doit pas contenir d'espaces, de
            caractères spéciaux ou émoji.
          </div>
        </div>
        <div class="col-md-3">
          <label for="inputPassword5" class="form-label"
            >Confirmer Mot de passe</label
          >
          <input
            type="password"
            id="inputPassword5"
            class="form-control"
            aria-describedby="passwordHelpBlock"
          />
        </div>
        <div class="col-md-3">
          <label for="validationDefault02" class="form-label"
            >Code Client</label
          >
          <input
            type="text"
            class="form-control"
            id="validationDefault02"
            required
          />
        </div>
        <div class="col-md-3">
          <button type="submit" class="btn btn-primary mt-4">
            Generer Code
          </button>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="invalidCheck2"
              required
            />
            <label class="form-check-label" for="invalidCheck2">
              Accepter les terms et conditions
            </label>
          </div>
        </div>
        <div class="col-6">
          <button class="btn btn-danger me-3" type="submit">Envoyer</button>
          <button class="btn btn-danger" type="reset">Reinitialiser</button>
        </div>
      </form>
    </div>
  </div>
</div>
